#wrapper {
    width: 960px;
    margin: 0 auto;
}

#wrapper form {
    border: 2px solid black;
    text-align: right;
    padding: 10px;
    width: 500px;
}

#toDoForm > h1 {
    margin: 0;
    text-align: center;
    margin-bottom: 5px;
}

#sections {
    border: 2px solid black;
    margin-bottom: 5px;
    padding: 5px;
    display: none;
}

#sections > section > h2 {
    margin: 0;
    text-align: right;
    font-style: italic;
}

.create-sections-holder {
    text-align: left;
}

#sections > input[type="button"] {
    text-align: right;
}

#sections > section {
    border: 2px solid black;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
}

.addItem {
    margin-right: 5px;
}
